.my-table {
    
    border-spacing: 0;
    width: 100%;
    display: table
}

.my-table td,
.my-table th {
    border: 1px solid #ccc;
    width: 50px;
    height: 40px;
    padding: 8px 8px;
    /*display: table-cell;*/
    text-align: center;
    vertical-align: top
}

